<section class="posts-show " >
  <div class="post-card">
    <h2><%=@post.title%> by <%=@post.author.name%></h2>
    <div>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></div>
    <div><%=@post.text%></div>
  </div>
</section>
  <%= render 'shared/comment', comments: @post.comments[0, 10]%>